In [68]:
import pandas as pd
import io
import requests
import matplotlib.pyplot as plt

In [76]:
url ="http://archive.ics.uci.edu/ml/machine-learning-databases/00409/Daily_Demand_Forecasting_Orders.csv"
s = requests.get(url).content
df = pd.read_csv(io.StringIO(s.decode('utf-8')), sep=';')

In [77]:
df.head()

,"Week of the month (first week, second, third, fourth or fifth week",Day of the week (Monday to Friday),Non-urgent order,Urgent order,Order type A,Order type B,Order type C,Fiscal sector orders,Orders from the traffic controller sector,Banking orders (1),Banking orders (2),Banking orders (3),Target (Total orders)
0,1,4,316.307,223.270,61.543,175.586,302.448,0.000,65556,44914,188411,14793,539.577
1,1,5,128.633,96.042,38.058,56.037,130.580,0.000,40419,21399,89461,7679,224.675
2,1,6,43.651,84.375,21.826,25.125,82.461,1.386,11992,3452,21305,14947,129.412
3,2,2,171.297,127.667,41.542,113.294,162.284,18.156,49971,33703,69054,18423,317.120
4,2,3,90.532,113.526,37.679,56.618,116.220,6.459,48534,19646,16411,20257,210.517

In [79]:
df2 = df.groupby(['Day of the week (Monday to Friday)'])['Target (Total orders)'].sum()
#data.groupby(['col1', 'col2'])['col3'].mean()

In [81]:
df2.head()

Day of the week (Monday to Friday)
2    4292.364
3    3647.181
4    3665.064
5    3287.619
6    3160.171
Name: Target (Total orders), dtype: float64

In [91]:
df2.describe

<bound method NDFrame.describe of Day of the week (Monday to Friday)
2    4292.364
3    3647.181
4    3665.064
5    3287.619
6    3160.171
Name: Target (Total orders), dtype: float64>