In [163]:
import pandas as pd
import numpy as np
from datetime import datetime
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error

In [164]:
df = pd.read_csv('sphist.csv')
df['Date'] = pd.to_datetime(df['Date'])
df = df.sort_values('Date', ascending=True)

In [165]:
df.tail()

,Date,Open,High,Low,Close,Volume,Adj Close
4,2015-12-01,2082.929932,2103.370117,2082.929932,2102.629883,3.712120e+09,2102.629883
3,2015-12-02,2101.709961,2104.270020,2077.110107,2079.510010,3.950640e+09,2079.510010
2,2015-12-03,2080.709961,2085.000000,2042.349976,2049.620117,4.306490e+09,2049.620117
1,2015-12-04,2051.239990,2093.840088,2051.239990,2091.689941,4.214910e+09,2091.689941
0,2015-12-07,2090.419922,2090.419922,2066.780029,2077.070068,4.043820e+09,2077.070068

In [166]:
#df["Date"]  = df[df["Date"] > datetime(year=2015, month=4, day=1)]

In [167]:
df['adj_close_10ma'] = df['Close'].rolling(10, min_periods=10).mean()
df['adj_close_30ma'] = df['Close'].rolling(30, min_periods=30).mean()
df['adj_close_365ma'] = df['Close'].rolling(365, min_periods=365).mean()

In [168]:
df['adj_close_10ma'] = df['adj_close_10ma'].shift(periods=1)
df['adj_close_30ma'] = df['adj_close_30ma'].shift(periods=1)
df['adj_close_365ma'] = df['adj_close_365ma'].shift(periods=1)

In [169]:
df.head(11)

,Date,Open,High,Low,Close,Volume,Adj Close,adj_close_10ma,adj_close_30ma,adj_close_365ma
16589,1950-01-03,16.660000,16.660000,16.660000,16.660000,1260000.0,16.660000,NaN,NaN,NaN
16588,1950-01-04,16.850000,16.850000,16.850000,16.850000,1890000.0,16.850000,NaN,NaN,NaN
16587,1950-01-05,16.930000,16.930000,16.930000,16.930000,2550000.0,16.930000,NaN,NaN,NaN
16586,1950-01-06,16.980000,16.980000,16.980000,16.980000,2010000.0,16.980000,NaN,NaN,NaN
16585,1950-01-09,17.080000,17.080000,17.080000,17.080000,2520000.0,17.080000,NaN,NaN,NaN
16584,1950-01-10,17.030001,17.030001,17.030001,17.030001,2160000.0,17.030001,NaN,NaN,NaN
16583,1950-01-11,17.090000,17.090000,17.090000,17.090000,2630000.0,17.090000,NaN,NaN,NaN
16582,1950-01-12,16.760000,16.760000,16.760000,16.760000,2970000.0,16.760000,NaN,NaN,NaN
16581,1950-01-13,16.670000,16.670000,16.670000,16.670000,3330000.0,16.670000,NaN,NaN,NaN
16580,1950-01-16,16.719999,16.719999,16.719999,16.719999,1460000.0,16.719999,NaN,NaN,NaN
16579,1950-01-17,16.860001,16.860001,16.860001,16.860001,1790000.0,16.860001,16.877,NaN,NaN

In [170]:
df['adj_close_10sd'] = df['Close'].rolling(10, min_periods=10).std()
df['adj_close_30sd'] = df['Close'].rolling(30, min_periods=30).std()
df['adj_close_365sd'] = df['Close'].rolling(365, min_periods=365).std()

In [171]:
df['adj_close_10sd'] = df['adj_close_10sd'].shift(periods=1)
df['adj_close_30sd'] = df['adj_close_30sd'].shift(periods=1)
df['adj_close_365sd'] = df['adj_close_365sd'].shift(periods=1)

In [172]:
df = df[df.Date > datetime(year=1951, month=6, day=18)]

In [173]:
df.head()

,Date,Open,High,Low,Close,Volume,Adj Close,adj_close_10ma,adj_close_30ma,adj_close_365ma,adj_close_10sd,adj_close_30sd,adj_close_365sd
16224,1951-06-19,22.020000,22.020000,22.020000,22.020000,1100000.0,22.020000,21.647,21.703333,19.447726,0.245314,0.473595,1.790253
16223,1951-06-20,21.910000,21.910000,21.910000,21.910000,1120000.0,21.910000,21.716,21.683000,19.462411,0.243274,0.444648,1.789307
16222,1951-06-21,21.780001,21.780001,21.780001,21.780001,1100000.0,21.780001,21.759,21.659667,19.476274,0.234779,0.411452,1.788613
16221,1951-06-22,21.549999,21.549999,21.549999,21.549999,1340000.0,21.549999,21.781,21.631000,19.489562,0.224125,0.368514,1.787659
16220,1951-06-25,21.290001,21.290001,21.290001,21.290001,2440000.0,21.290001,21.787,21.599000,19.502082,0.216130,0.329130,1.786038

In [174]:
df = df.dropna(axis=0)

In [175]:
train = df[df.Date < datetime(year=2013, month=1, day=1)]
test = df[df.Date >= datetime(year=2013, month=1, day=1)]

In [176]:
train.tail()

,Date,Open,High,Low,Close,Volume,Adj Close,adj_close_10ma,adj_close_30ma,adj_close_365ma,adj_close_10sd,adj_close_30sd,adj_close_365sd
743,2012-12-24,1430.150024,1430.150024,1424.660034,1426.660034,1.248960e+09,1426.660034,1429.469995,1405.926001,1326.114028,10.642779,24.746569,89.830647
742,2012-12-26,1426.660034,1429.420044,1416.430054,1419.829956,2.285030e+09,1419.829956,1430.280994,1407.486336,1326.412494,10.008286,24.520427,89.983530
741,2012-12-27,1419.829956,1422.800049,1401.800049,1418.099976,2.830180e+09,1418.099976,1429.479993,1408.813000,1326.716494,10.532182,24.055972,90.111444
740,2012-12-28,1418.099976,1418.099976,1401.579956,1402.430054,2.426680e+09,1402.430054,1428.441992,1410.265332,1326.995836,11.135888,23.215373,90.236516
739,2012-12-31,1402.430054,1426.739990,1398.109985,1426.189941,3.204330e+09,1426.189941,1426.740002,1411.830001,1327.261562,13.674260,20.858522,90.315637

In [179]:
feature_col = ['adj_close_10ma','adj_close_30ma','adj_close_30ma',
              'adj_close_10sd', 'adj_close_30sd', 'adj_close_365sd']

target_cols = 'Close'

X_train = train[feature_col]
y_train = train[target_cols]
X_test = test[feature_col]
y_test = test[target_cols]

# Create linear regression object
lr = LinearRegression()
# Fit the model
lr.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [180]:
# Get predictions
train_predictions = lr.predict(X_train)
test_predictions = lr.predict(X_test)

train_mae = mean_absolute_error(train_predictions, train['Close'])
test_mae = mean_absolute_error(test_predictions, test['Close'])

#train_rmse = np.sqrt(train_mse)
#test_rmse = np.sqrt(test_mse)

print(train_mae)
print(test_mae)

6.20685177063
20.2480596652

In [150]:
test_mse = mean_absolute_error(test_predictions, test['Close'])

In [151]:
temp_df = pd.DataFrame(test_predictions)
test["actual"] = test['Close']
test["predictions"].append(temp_df[0])
test.head()

,Date,Open,High,Low,Close,Volume,Adj Close,adj_close_10ma,adj_close_30ma,adj_close_365ma,adj_close_10sd,adj_close_30sd,adj_close_365sd,predictions,diff,mae,actual
738,2013-01-02,1426.189941,1462.430054,1426.189941,1462.420044,4.202600e+09,1462.420044,1428.001001,1414.258667,1327.534055,12.884457,17.834740,90.463948,1430.965573,-31.454471,20.719705,1462.420044
737,2013-01-03,1462.420044,1465.469971,1455.530029,1459.369995,3.829730e+09,1459.369995,1431.207007,1417.676668,1327.908247,16.899717,16.852563,90.738976,1432.656988,-26.713007,20.719705,1459.369995
736,2013-01-04,1459.369995,1467.939941,1458.989990,1466.469971,3.424290e+09,1466.469971,1432.465002,1420.092668,1328.224877,18.573881,17.470824,90.995857,1433.217962,-33.252009,20.719705,1466.469971
735,2013-01-07,1466.469971,1466.469971,1456.619995,1461.890015,3.304970e+09,1461.890015,1435.530994,1422.714665,1328.557617,21.489137,18.339803,91.279049,1435.557137,-26.332878,20.719705,1461.890015
734,2013-01-08,1461.890015,1461.890015,1451.640015,1457.150024,3.601600e+09,1457.150024,1437.351001,1425.076664,1328.898603,22.976201,18.678333,91.544368,1436.829225,-20.320799,20.719705,1457.150024

In [152]:
test['mae'] = mean_absolute_error(test['predictions'], test['Close'])
test['diff'] = test['predictions'] - test['Close']

In [153]:
test.tail()

,Date,Open,High,Low,Close,Volume,Adj Close,adj_close_10ma,adj_close_30ma,adj_close_365ma,adj_close_10sd,adj_close_30sd,adj_close_365sd,predictions,diff,mae,actual
4,2015-12-01,2082.929932,2103.370117,2082.929932,2102.629883,3.712120e+09,2102.629883,2079.273999,2073.984998,2035.531178,14.883905,24.654181,64.370261,2080.238824,-22.391059,20.719705,2102.629883
3,2015-12-02,2101.709961,2104.270020,2077.110107,2079.510010,3.950640e+09,2079.510010,2084.217993,2076.283993,2035.914082,13.393465,23.970453,64.352527,2086.127743,6.617733,20.719705,2079.510010
2,2015-12-03,2080.709961,2085.000000,2042.349976,2049.620117,4.306490e+09,2049.620117,2087.125000,2077.908659,2036.234356,6.759073,22.378095,64.277554,2091.242986,41.622869,20.719705,2049.620117
1,2015-12-04,2051.239990,2093.840088,2051.239990,2091.689941,4.214910e+09,2091.689941,2083.729004,2078.931331,2036.507343,13.702747,20.183769,64.121622,2084.281845,-7.408096,20.719705,2091.689941
0,2015-12-07,2090.419922,2090.419922,2066.780029,2077.070068,4.043820e+09,2077.070068,2084.773999,2080.237329,2036.869425,13.889039,19.676415,64.058862,2085.130332,8.060264,20.719705,2077.070068