In [13]:
import pandas as pd
import numpy as np
from datetime import datetime

In [14]:
df = pd.read_csv('sphist.csv')

In [15]:
df.tail()

             Date   Open   High    Low  Close     Volume  Adj Close
16585  1950-01-09  17.08  17.08  17.08  17.08  2520000.0      17.08
16586  1950-01-06  16.98  16.98  16.98  16.98  2010000.0      16.98
16587  1950-01-05  16.93  16.93  16.93  16.93  2550000.0      16.93
16588  1950-01-04  16.85  16.85  16.85  16.85  1890000.0      16.85
16589  1950-01-03  16.66  16.66  16.66  16.66  1260000.0      16.66

In [16]:
df['Date'] = pd.to_datetime(df['Date'])

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16590 entries, 0 to 16589
Data columns (total 7 columns):
Date         16590 non-null datetime64[ns]
Open         16590 non-null float64
High         16590 non-null float64
Low          16590 non-null float64
Close        16590 non-null float64
Volume       16590 non-null float64
Adj Close    16590 non-null float64
dtypes: datetime64[ns](1), float64(6)
memory usage: 907.3 KB

In [18]:
df.head()

,Date,Open,High,Low,Close,Volume,Adj Close
0,2015-12-07,2090.419922,2090.419922,2066.780029,2077.070068,4.043820e+09,2077.070068
1,2015-12-04,2051.239990,2093.840088,2051.239990,2091.689941,4.214910e+09,2091.689941
2,2015-12-03,2080.709961,2085.000000,2042.349976,2049.620117,4.306490e+09,2049.620117
3,2015-12-02,2101.709961,2104.270020,2077.110107,2079.510010,3.950640e+09,2079.510010
4,2015-12-01,2082.929932,2103.370117,2082.929932,2102.629883,3.712120e+09,2102.629883

In [22]:
#df["Date"] > datetime(year=2015, month=4, day=1)

In [23]:
df = df.sort_values('Date', ascending=True)